@model WebApp.Areas.Admin.ViewModels.Invoices.Pages.NewInvoicePageViewModel

@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="table-responsive">
        <table>
            <tr>
                <td>A</td>
                <td>B</td>
            </tr>
        </table>
    </div>
</div>
